@media screen and (max-width:450px) {
    .cartao{
        max-width: 390px;
    }
}

@media screen and (max-width:375px) {
    .cartao{
        max-width: 340px;
    }
}

@media screen and (max-width:320px) {
    .cartao{
        max-width: 290px;
    }
}

