@media screen and (max-width:450px) {
    .cartao{
        max-width: 400px;
    }
}

@media screen and (max-width:375px) {
    .cartao{
        max-width: 350px;
    }
}

@media screen and (max-width:320px) {
    .cartao{
        max-width: 300px;
    }
}

