@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    display: flex;
    font-family: 'Manrope';
    font-weight: 800;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
    
}

.cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
}

.cartao .conselho-id{
    color: hsl(150, 100%, 66%);
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: 700;
}

.cartao .conselho-descricao{
    text-align: center;
    font-size: 23px;
    padding: 23px;
    color: hsl(193, 38%, 86%);
}

.cartao picture img{
    width: 100%;
}

.cartao .atualizar-conselho{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: hsl(150, 100%, 66%);
    transform: translateY(85%);
}

.cartao .atualizar-conselho:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px hsl(150, 100%, 66%);
}
